:root {
  --ion-color-primary: #428cff;
  --ion-color-dark: #121212;
  --ion-color-light: #ffffff;
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;
}

body {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}
